@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.cursive {
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.title {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.titleHome {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  -webkit-text-stroke: 2px black;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 100px;
}
